// Place all the styles related to the admin/sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.label-danger {
  background-color: red;
}
.label-warning {
  background-color: orange;
}
.label-success {
  background-color: green;
}

